.main {
  background-color: var(--container);
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100%;
  padding: 20px;
  z-index: 1000;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
