.navigation {
  @include resetList();

  &_recipes {
    width: 100%;
    margin: 20px 0 auto 0;

    &_item {
      margin-bottom: 6px;

      > a {
        padding: 10px;

        > div {
          font-size: 20px;
          width: 26px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        > span {
          margin-left: 10px;
        }
      }
    }
  }

  &_menu {
    display: flex;
    align-items: center;
    height: 100%;

    &_item {
      &:not(:last-child) {
        margin-right: 10px;
      }

      > a {
        flex-direction: column;
        justify-content: center;
        padding: 6px 16px;
        text-align: center;

        > svg {
          font-size: 20px;
          margin-bottom: 2px;
        }
      }
    }
  }

  &_item {
    > a {
      display: flex;
      align-items: center;
      color: var(--navigation-text);
      border-radius: var(--radius);
      @include font(15px, 20px);
      transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;

      &:hover {
        background-color: var(--navigation-background--hover);
        color: var(--navigation-text--hover);
        text-decoration: none;
      }

      &:focus {
        outline: none;
      }

      &:focus-visible {
        box-shadow: var(--navigation-box-shadow--focus);
      }

      svg path {
        fill: var(--navigation-text);
      }
    }

    &\:active a {
      background-color: var(--navigation-background-active);
      color: var(--navigation-text-active);
      font-weight: bold;

      &:hover {
        background-color: var(--navigation-background-active--hover);
        color: var(--navigation-text-active);
      }

      &:focus-visible {
        box-shadow: var(--navigation-box-shadow-active--focus);
      }

      svg path {
        fill: var(--navigation-text-active);
      }
    }
  }
}
