.userBar {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 980px) {
    display: none;
  }

  > li:not(:last-child) {
    margin-right: 20px;
  }
}
