.userBar {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  > li:not(:last-child) {
    margin-right: 20px;
  }

  &_menu {
    background-color: transparent;
    color: inherit;
    border: 0;
    font-size: inherit;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;

    &_list {
      padding: 0;
      margin: 0;
      list-style: none;
      min-width: 250px;

      > li {
        &:not(:last-child) {
          margin-bottom: 10px;
        }

        > a,
        > button {
          display: flex;
          align-items: center;
          color: inherit;
          border-radius: var(--radius);
          padding: 10px;
          width: 100%;
          background-color: transparent;
          border: 0;
          transition: background-color 0.4s ease;
          cursor: pointer;
          font-size: inherit;
          font-family: inherit;
          font-weight: inherit;

          &:hover {
            background-color: var(--menu-background--hover);
            text-decoration: none;
          }

          > div {
            width: 20px;
            height: 20px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            margin-right: 10px;
          }
        }
      }
    }
  }

  &\:dark {
    background-color: transparent;
    border: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 30px;
    color: var(--button-dark);
  }

  &\:hr {
    background-color: var(--color-secondary);
    width: 3px;
    height: 30px;
    border-radius: 10px;
  }
}
