.button {
  border-radius: var(--radius);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 96px;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  &_primary {
    background-color: var(--color-primary);
    color: #fff;

    &:hover {
      background-color: var(--color-primary-dark);
    }

    &:active {
      background-color: var(--color-primary-dark);
      box-shadow: 0 0 0 4px rgba(var(--color-primary-dark--code), 0.5);
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba(var(--color-primary--code), 0.5);
    }
  }

  &_secondary {
    background-color: var(--color-secondary);
    color: #fff;

    &:hover {
      background-color: var(--color-secondary-light);
    }

    &:active {
      background-color: var(--color-secondary-light);
      box-shadow: 0 0 0 4px rgba(var(--color-secondary-light--code), 0.5);
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba(var(--color-secondary--code), 0.5);
    }
  }

  &_light {
    background-color: var(--color-light);
    color: var(--button-light-color);

    &:hover {
      background-color: var(--color-light-dark);
    }

    &:active {
      background-color: var(--color-light-dark);
      box-shadow: 0 0 0 4px rgba(var(--body-color-code), 0.3);
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba(var(--body-color-code), 0.3);
    }
  }

  &_important {
    background-color: var(--color-important);
    color: #fff;

    &:hover {
      background-color: var(--color-important-dark);
    }

    &:active {
      background-color: var(--color-important-dark);
      box-shadow: 0 0 0 4px rgba(var(--color-important-dark--code), 0.5);
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba(var(--color-important--code), 0.5);
    }
  }
}
