.button {
  border-radius: var(--radius);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 96px;
  border: 1px solid transparent;
  font-weight: 600;
  text-align: center;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, opacity 0.15s ease-in-out;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  > svg {
    margin-right: 10px;
  }

  &_primary {
    background-color: var(--button-primary);
    color: #fff;

    &:not(:disabled):hover {
      background-color: var(--button-primary-dark);
    }

    &:not(:disabled):active {
      background-color: var(--button-primary-dark);
    }

    &:not(:disabled):focus-visible {
      box-shadow: 0 0 0 4px rgba(var(--button-primary--code), 0.5);
    }
  }

  &_secondary {
    background-color: var(--button-secondary);
    color: #fff;

    &:not(:disabled):hover {
      background-color: var(--button-secondary-light);
    }

    &:not(:disabled):active {
      background-color: var(--button-secondary-light);
    }

    &:not(:disabled):focus-visible {
      box-shadow: 0 0 0 4px rgba(var(--button-secondary--code), 0.5);
    }
  }

  &_light {
    background-color: var(--button-light);
    color: var(--button-light-color);

    &:not(:disabled):hover {
      background-color: var(--button-light-dark);
    }

    &:not(:disabled):active {
      background-color: var(--button-light-dark);
    }

    &:not(:disabled):focus-visible {
      box-shadow: 0 0 0 4px rgba(var(--body-color-code), 0.3);
    }
  }

  &_important {
    background-color: var(--button-important);
    color: #fff;

    &:not(:disabled):hover {
      background-color: var(--button-important-dark);
    }

    &:not(:disabled):active {
      background-color: var(--button-important-dark);
    }

    &:not(:disabled):focus-visible {
      box-shadow: 0 0 0 4px rgba(var(--button-important--code), 0.5);
    }
  }

  &\:fullWidth {
    width: 100%;
  }
}
