.button {
  border-radius: var(--radius);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 96px;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  &_primary {
    background-color: var(--color-primary);
    color: var(--button-primary-color);

    &:hover {
      background-color: var(--color-primary-dark);
    }

    &:active {
      background-color: var(--color-primary-dark);
      box-shadow: 0 0 0 4px rgba(var(--color-primary-dark--number), 0.5);
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba(var(--color-primary--number), 0.5);
    }
  }
}
