.dropDown {
  background-color: var(--container-background);
  border: 1px solid var(--color-ultra-light);
  box-shadow: var(--menu-box-shadow);
  border-radius: var(--radius);
  padding: 10px;
  color: inherit;

  &[data-placement^='top'] > .tippy-arrow::before {
    border-top-color: var(--container-background);
  }

  &[data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: var(--container-background);
  }

  &[data-placement^='left'] > .tippy-arrow::before {
    border-left-color: var(--container-background);
  }

  &[data-placement^='right'] > .tippy-arrow::before {
    border-right-color: var(--container-background);
  }

  .tippy-content {
    padding: 0;
  }

  > .tippy-content > div > ul:not(.userBar_menu_list) {
    padding: 0;
    margin: 0;
    list-style: none;
    min-width: 150px;

    > li {
      &:not(:last-child) {
        margin-bottom: 4px;
      }

      a,
      button {
        background-color: transparent;
        display: block;
        padding: 10px;
        border-radius: var(--radius);
        color: var(--body-color);
        display: flex;
        align-items: center;
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
        border: 0;
        width: 100%;
        cursor: pointer;

        > div {
          width: 16px;
          height: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
        }

        &:hover {
          background-color: var(--menu-background--hover);
          text-decoration: none;
        }
      }
    }
  }
}
