.main {
  margin: var(--nav-height) 0 0 var(--header-width);

  @media screen and (max-width: 980px) {
    margin: var(--header-mobile-height) 0 var(--nav-mobile-height) 0;
  }
}

.header {
  background-color: var(--container-background);
  position: fixed;
  top: 0;
  left: 0;
  width: var(--header-width);
  height: 100%;
  padding: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: 980px) {
    width: 100%;
    height: var(--header-mobile-height);
    padding: 8px 20px;
    flex-direction: row;
    justify-content: space-between;

    > a {
      width: 63px;
    }
  }
}

.container {
  max-width: var(--container-width);
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

.action_bar {
  background-color: var(--body-background);
  border-radius: var(--radius);
  padding: 10px;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  > li {
    &:not(:last-child) {
      margin-right: 10px;
    }

    > button {
      background-color: transparent;
      border: 0;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 18px;
      color: var(--color-light);
    }

    > a {
      position: relative;
      width: 50px;
      height: 30px;
      display: inline-block;
      border-radius: var(--radius);
      overflow: hidden;
    }
  }
}

.nav {
  background-color: var(--container-background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--nav-height);
  padding: 10px 20px 10px calc(var(--header-width) + 20px);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 980px) {
    display: block;
    top: auto;
    height: var(--nav-mobile-height);
    bottom: 0;
    padding: 0;
  }

  &_bottom {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 768px) and (max-width: 980px) {
      justify-content: center;
    }

    > li {
      &:not(:last-child) {
        margin-right: 20px;
      }

      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 72px;
        height: 60px;
        font-size: 36px;
        padding: 0 20px;

        @media screen and (max-width: 340px) {
          padding: 0 10px;
        }
      }
    }
  }
}
