.main {
  margin: var(--nav-height) 0 0 var(--header-width);

  @media screen and (max-width: 980px) {
    margin: var(--header-mobile-height) 0 0 0;
  }
}

.header {
  background-color: var(--container-background);
  position: fixed;
  top: 0;
  left: 0;
  width: var(--header-width);
  height: 100%;
  padding: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: 980px) {
    width: 100%;
    height: var(--header-mobile-height);
    padding: 8px 20px;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: var(--nav-height-shadow);

    > a {
      width: 63px;
    }
  }
}

.changeLang {
  background-color: var(--body-background);
  border-radius: var(--radius);
  padding: 10px;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  > li {
    &:not(:last-child) {
      margin-right: 10px;
    }

    > button {
      background-color: transparent;
      border: 0;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 18px;
      color: var(--button-dark);
    }

    > div > a {
      position: relative;
      width: 50px;
      height: 30px;
      display: flex;
    }
  }
}

.nav {
  background-color: var(--container-background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--nav-height);
  padding: 10px 20px 10px calc(var(--header-width) + 20px);
  box-shadow: var(--nav-height-shadow);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 980px) {
    display: block;
    top: auto;
    height: var(--nav-mobile-height);
    bottom: 0;
    padding: 0;
  }

  &_bottom {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    box-shadow: var(--nav-height-shadow);

    > li {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex: 1;

      > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: var(--nav-mobile-height);
        font-size: 36px;
        padding: 0 16px;
        color: inherit;

        &:hover {
          text-decoration: none;
        }

        @media screen and (max-width: 340px) {
          padding: 0 5px;
        }

        > svg {
          font-size: 22px;
        }

        > span {
          margin-top: 4px;
          font-size: 10px;
          color: var(--color-light);
          text-align: center;
        }
      }
    }
  }
}

.footer {
  height: 56px;
  margin-left: var(--header-width);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light);

  @media screen and (max-width: 980px) {
    margin: 0 0 var(--nav-mobile-height) 0;
  }

  a {
    font-weight: bold;
    color: inherit;
  }
}
