.message {
  position: relative;
  margin-bottom: 20px;
  padding: 15px 15px 15px 24px;
  border-radius: 0 var(--radius) var(--radius) 0;

  &_icon {
    position: absolute;
    top: 12px;
    left: -12px;
    width: 26px;
    height: 26px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    background-color: var(--message-error);
  }

  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    background-color: var(--message-error);
    position: absolute;
    top: 0;
    left: -1px;
    border-radius: var(--radius) 0 0 var(--radius);
  }

  &_error {
    background: var(--message-error-background);
  }
}
