.recipes {
  &_list {
    margin: 0;
    list-style: none;

    &_item {
      position: relative;
      display: flex;

      &:not(:last-child) {
        &::before {
          content: '';
          position: absolute;
          bottom: -20px;
          display: block;
          background-color: var(--color-secondary);
          width: 100%;
          height: 1px;
        }

        margin-bottom: 40px;
      }

      &_image {
        position: relative;
        overflow: hidden;
        flex: 0 0 220px;
        height: 146px;
        border-radius: var(--radius);
        margin-right: 20px;
      }

      &_main {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &_title {
          flex: 1;

          > h2 {
            font-weight: bold;
            margin: 0;
          }
        }

        &_header {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        &_footer {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &_left,
          &_right {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
            list-style: none;

            > li:not(:last-child) {
              margin-right: 20px;
            }
          }

          &_right {
            text-align: right;
          }
        }
      }
    }
  }

  &_item {
    &_header {
      position: relative;
      width: 100%;
      height: 400px;
      margin-bottom: 120px;

      &\:image {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: var(--radius);
        overflow: hidden;
      }

      &_content {
        position: absolute;
        bottom: -100px;
        left: 0;
        right: 0;
        z-index: 10;
        margin: 0 40px;

        h1 {
          margin: 0;
          font-size: 26px;
          font-weight: 600;
        }

        &_top {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        &_bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }

    &_text {
    }
  }

  &_add {
    padding: 0;
    margin: 0;
    list-style: none;

    > li:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
