&_ingredients {
  > label {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_serve {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 14px;

    > li {
      &:not(:last-child) {
        margin-right: 10px;
      }

      > svg {
        margin-right: 6px;
      }

      > button {
        width: 26px;
        height: 26px;
        border-radius: var(--radius);
        background-color: var(--button-secondary);
        color: #fff;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, opacity 0.15s ease-in-out;
        cursor: pointer;

        &:disabled {
          cursor: default;
          opacity: 0.5;
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 4px rgba(var(--button-secondary--code), 0.5);
        }
      }
    }
  }

  &_form {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;

    > li {
      &:nth-child(1) {
        flex: 0 1 106px;
      }

      &:nth-child(2) {
        flex: 0 1 130px;
      }

      &:nth-child(3) {
        flex: 1;
      }

      input {
        width: 100%;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &_list {
    margin: 10px 0;
    padding: 16px;
    list-style: none;
    background-color: var(--body-background);
    border-radius: var(--radius);

    > li {
      padding: 0 10px;
      display: flex;
      align-items: center;
      border-radius: var(--radius);
      background-color: var(--container-background);
      margin-bottom: 10px;

      > ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        width: 100%;

        > li {
          &:not(:last-child) {
            margin-right: 20px;
          }

          &:last-child {
            margin-left: auto;
          }

          &:nth-child(2) {
            font-weight: bold;
          }

          > button {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            align-items: center;
            color: var(--body-color);
            border: 0;
            background-color: transparent;
            border-radius: var(--radius);
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            cursor: pointer;

            > svg {
              font-size: 15px;
              color: inherit;
            }

            &:focus {
              outline: none;
              box-shadow: 0 0 0 4px rgba(var(--button-secondary--code), 0.5);
            }
          }
        }
      }
    }
  }
}
