&_item {
  &_text {
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &_header {
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 120px;

    &\:image {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: var(--radius);
      overflow: hidden;
      background-color: var(--button-light-dark);

      &.recipes_item_header\:loading {
        @include lazyLoad;
      }
    }

    &_content {
      position: absolute;
      bottom: -100px;
      left: 0;
      right: 0;
      z-index: 10;
      margin: 0 40px;

      h1 {
        margin: 0;
        font-size: 26px;
        font-weight: 600;
      }

      &_top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &\:action > div > button {
          background-color: transparent;
          width: 34px;
          height: 34px;
          border-radius: var(--radius);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          border: 0;
          cursor: pointer;
          transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out, opacity 0.15s ease-in-out;

          &:focus {
            outline: none;
          }

          &:hover {
            background-color: var(--button-light);
          }

          &:active {
            background-color: var(--button-light-dark);
            box-shadow: 0 0 0 4px rgba(var(--body-color-code), 0.3);
          }

          &:focus {
            box-shadow: 0 0 0 4px rgba(var(--body-color-code), 0.3);
          }
        }
      }

      &_bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
