&_nutritional {
  padding: 0;
  margin: 0;
  list-style: none;

  > li {
    display: flex;
    align-items: center;

    > input {
      flex: 1;
      margin: 0 10px;
      width: 100px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    > span {
      &:first-child {
        margin-right: auto;
      }

      &:last-child {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}
