.recipes {
  @import './_listRecipes';
  @import './_itemRecipes';
  @import './_nutritionalRecipes';
  @import './_ingredientsRecipes';
  @import './_filter';

  &_form {
    label,
    .input\:labelOutside input:focus-visible + label,
    .input\:labelOutside input.input\:fill + label {
      font-size: 16px;
    }

    &_list {
      padding: 0;
      margin: 0;
      list-style: none;

      > li:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
