:root {
  --color-primary--code: 231, 144, 15;
  --color-primary: rgb(var(--color-primary--code));
  --color-primary--dark--code: 220, 138, 16;
  --color-primary--dark: rgb(var(--color-primary--dark--code));
  --color-secondary--code: 244, 244, 244;
  --color-secondary: rgb(var(--color-secondary--code));
  --color-light--code: 103, 103, 103;
  --color-light: rgb(var(--color-light--code));
  --color-error--code: 188, 27, 27;
  --color-error: rgb(var(--color-error--code));
  --color-ultra-light: #ebebeb;

  --button-primary--code: 231, 144, 15;
  --button-primary: rgb(var(--button-primary--code));
  --button-primary-dark--code: 209, 131, 16;
  --button-primary-dark: rgb(var(--button-primary-dark--code));
  --button-secondary--code: 69, 69, 69;
  --button-secondary: rgb(var(--button-secondary--code));
  --button-secondary-light--code: 121, 121, 121;
  --button-secondary-light: rgb(var(--button-secondary-light--code));
  --button-light--code: 243, 243, 243;
  --button-light: rgb(var(--button-light--code));
  --button-light-color: #000;
  --button-light-dark--code: 231, 231, 231;
  --button-light-dark: rgb(var(--button-light-dark--code));
  --button-important--code: 212, 40, 40;
  --button-important: rgb(var(--button-important--code));
  --button-important-dark--code: 197, 37, 37;
  --button-important-dark: rgb(var(--button-important-dark--code));

  --input-background: var(--container-background);
  --input-light: #a8a8a8;
  --input-description-text: var(--color-light);
  --input-box-shadow--focus: 0 0 0 4px rgba(var(--color-primary--code), 0.5);
  --input-error-box-shadow--focus: 0 0 0 4px rgba(var(--color-error--code), 0.5);
  --input-checkbox-text: #fff;

  --navigation-text: var(--color-light);
  --navigation-text--hover: var(--body-color);
  --navigation-background--hover: var(--body-background);
  --navigation-box-shadow--focus: 0 0 0 4px rgba(var(--color-light--code), 0.5);
  --navigation-background-active: var(--color-primary);
  --navigation-text-active: #fff;
  --navigation-background-active--hover: var(--color-primary--dark);
  --navigation-box-shadow-active--focus: 0 0 0 4px rgba(var(--color-primary--dark--code), 0.5);

  --message-error: #a32a2a;
  --message-error-background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
    var(--message-error);

  --menu-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.14);
  --menu-background--hover: #f6f6f6;

  --spinner-loading-backgorund: rgba(var(--color-light--code), 0.1);

  --radius--half: 4px;
  --radius: 8px;

  --header-width: 210px;
  --header-mobile-height: 60px;
  --nav-height: 80px;
  --nav-mobile-height: 60px;
  --container-width: 1500px;
  --container-small-width: 540px;

  --body-background: #f5f5f5;
  --body-color-code: 44, 44, 44;
  --body-color: rgb(var(--body-color-code));
  --container-background: #fff;
  --button-dark: var(--color-light);

  --font-h1: 26px;

  --badges-positive--code: 29, 207, 92;
  --badges-positive: rgba(var(--badges-positive--code), 0.2);
  --badges-positive-text: rgb(var(--badges-positive--code));
  --badges-negative--code: 207, 29, 29;
  --badges-negative: rgba(var(--badges-negative--code), 0.2);
  --badges-negative-text: rgb(var(--badges-negative--code));
  --badges-intermediary--code: 207, 125, 29;
  --badges-intermediary: rgba(var(--badges-intermediary--code), 0.2);
  --badges-intermediary-text: rgb(var(--badges-intermediary--code));
}

[theme='dark']:root {
  --color-light--code: 163, 163, 163;
  --color-secondary--code: 37, 37, 37;
  --button-light--code: 44, 44, 44;
  --button-light-color: #fff;

  --button-light-dark--code: 53, 53, 53;

  --body-background: #121212;
  --container-background: #1c1c1c;
  --body-color-code: 239, 239, 239;
  --button-dark: #ffe200;

  --input-light: #727272;

  --ck-color-base-background: var(--container-background);
}
