@import './variables';
@import './units';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: var(--body-background);
  color: var(--body-color);
  font-size: 14px;
  height: 100%;
  margin: 0;
}

a {
  color: var(--button-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link {
  background-color: transparent;
  border: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  color: var(--button-primary);
  text-decoration: none;
  cursor: pointer;
  border-radius: var(--radius);
  transition: box-shadow 0.15s ease-in-out;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: 0 0 0 4px rgba(var(--button-primary--code), 0.5);
  }
}

@import './components/layout';
@import './components/buttons';
@import './components/inputs';
@import './components/manu';

@import './components/layouts/navigation/navigation';
@import './components/layouts/navigation/userBar';

@import './responsives';
